<!DOCTYPE html>
<html>
<head>
    <title>Apply Job</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container">
   
   <a class="navbar-brand" href="/">
      Smart Job Portal
   </a>
   
<div>

   <a href="/" class="btn btn-outline-light me-2">
      Home
   </a>
   
   <a href="/jobs" class="btn btn-outline-light me-2">
      Jobs
   </a>
   
   <a href="/addJob" class="btn btn-outline-light me-2">
      Add Job
   </a>
   
   <a href="/applications" class="btn btn-outline-light">
      Application
   </a>
   
  </div>
  
 </div>
   
</nav>

<h2>Apply For Job</h2>

<form action="/saveApplication" method="post">

Name:
<input type="text" name="userName">
<br><br>

Email:
<input type="email" name="email">
<br><br>

Job Title:
<input type="text" name="jobTitle">
<br><br>

<button type="submit">Apply</button>

</form>

</body>
</html>